@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

a:link { 
    text-decoration:none; 
}
.space {
    margin-top: 1em;
}
.form-space {
    margin-left: 3em;
}