<header>
    <%= render 'layouts/navigation' %>
</header>

<div class="container">
<center>
<h1>Wishlist</h1>
<table class="table table-hover" style="margin-top: 4em;width: 60rem;">
  <thead>
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <!-- < @wishlists.each do |wishlist| %>
    <tr>   
      <td><= wishlist.product.name %></td>
      <td><= wishlist.product.price %></td>
      <td><= link_to "Remove", wishlist, method: :delete, data: { confirm: "Are you sure?" } %></td>
    
    </tr> 
    < end %> -->
    <tr>
      
    </tr>
  </tbody>
</table>

</center>
</div>
