<!-- Sidebar -->
<div class="sidebar">
  <a href="#home"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="#home"><i class="fa fa-fw fa-user"></i>Categories</a>

  <% @categories.each do |category| %>
  
    <%= link_to category.name,homes_path(category_id: category.id) %>
    <ul>
      <% category.sub_categories.each do |sub_cat| %>
        <%= link_to sub_cat.name,homes_path(category_id: sub_cat.id) %>
      <% end %>
    </ul>
   

  <% end %>
</div>
